version: '3.9'

services:
  msa-gateway:
    image: amazoncorretto:21-alpine-jdk
    container_name: msa-gateway
    ports:
      - "9090:9090"
    volumes:
      - ./gateway/gateway.jar:/app.jar
      - ./gateway/.env:/.env
      - ./gateway/servers.yml:/servers.yml
    command: ["java", "-jar", "app.jar"]
    networks:
      - mysql-network
    mem_limit: 128m
    cpus: 0.2

  msa-user:
    image: amazoncorretto:21-alpine-jdk
    container_name: msa-user
    ports:
      - "9091:9091"
    volumes:
      - ./user/user.jar:/app.jar
      - ./user/.env:/.env
    command: ["java", "-jar", "app.jar"]
    networks:
      - mysql-network
    mem_limit: 300m
    cpus: 0.35

  msa-yacht:
    image: amazoncorretto:21-alpine-jdk
    container_name: msa-yacht
    ports:
      - "9092:9092"
    volumes:
      - ./yacht/yacht.jar:/app.jar
      - ./yacht/.env:/.env
    command: ["java", "-jar", "app.jar"]
    networks:
      - mysql-network
    mem_limit: 300m
    cpus: 0.35

  msa-part:
    image: amazoncorretto:21-alpine-jdk
    container_name: msa-part
    ports:
      - "9093:9093"
    volumes:
      - ./part/part.jar:/app.jar
      - ./part/.env:/.env
    command: ["java", "-jar", "app.jar"]
    networks:
      - mysql-network
    mem_limit: 300m
    cpus: 0.35

  msa-calendar:
    image: amazoncorretto:21-alpine-jdk
    container_name: msa-calendar
    ports:
      - "9094:9094"
    volumes:
      - ./calendar/calendar.jar:/app.jar
      - ./calendar/.env:/.env
    command: ["java", "-jar", "app.jar"]
    networks:
      - mysql-network
    mem_limit: 300m
    cpus: 0.35

networks:
  mysql-network:
    external: true
    driver: bridge