server:
  port: 8081

spring:
  application:
    name: Yacht
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 3

# Eureka Client 설정 (서비스 디스커버리)
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

token:
  SECRET_KEY: ${SECRET_KEY}
  EXPIRATION_SECOND: 999999999
    # test 환경 무한대 설정
    # 86400000

USER_SERVER_PATH: /user/**
USER_SERVER_URI: http://localhost:8080/user/

custom:
  servers:
    - name: serverA
      host: http://0.0.0.0
      docker:
        ca: /path/ca.pem
        cert: /path/cert.pem
        key: /path/client-key.pem
      count: 3

    - name: sub
      host: http://0.0.0.0
      docker:
        ca: /path/ca.pem
        cert: /path/cert.pem
        key: /path/client-key.pem
      count: 1

  modules:
    - match-uri: /user/**
      services:
        - name: user
          server: serverA
          port: 8080
      subs:
        - name: user
          server: sub
          port: 8080

    - match-uri: /yacht/**
      services:
        - server: serverA
          port: 8081
      subs:
        - server: sub
          port: 8081