server:
  port: 9092

spring:
  application:
    name: Yacht
  config:
    import: optional:file:.env[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 3
  jpa:
    properties:
      hibernate:
        show_sql: true
        jdbc:
          time_zone: UTC
    hibernate:
      ddl-auto: update

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}
  username: ${REDIS_USERNAME}
  password: ${REDIS_PASSWORD}

  maxConnection: 3

  module:
    user: USER

web-client:
  gateway: ${GATEWAY_URL}

  user-list: /user/proxy/user-list
  part-create: /part/proxy/create